{
    "swagger": "2.0",
    "info": {
        "description": "A simple RESTful API for doctor information",
        "version": "1.0.0",
        "title": "Doctor Info"
    },
    "host": "doctor-info.apps.cac.preview.pcf.manulife.com",
    "basePath": "/v1",
    "tags": [
        {
            "name": "doctor",
            "description": "information about a doctor"
        }
    ],
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/doctor/{id}": {
            "get": {
                "tags": [
                    "doctor"
                ],
                "summary": "get information about a doctor",
                "operationId": "getDoctor",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the doctor to retrieve",
                        "required": true,
                        "type": "integer",
                        "format": "Int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The doctor with the given ID",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Doctor"
                            }
                        }
                    },
                    "405": {
                        "description": "Invalid input",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/ApiResponse"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Doctor": {
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "Int64"
                },
                "name": {
                    "type": "string"
                },
                "dob": {
                    "type": "string",
                    "format": "date"
                },
                "specialty": {
                    "type": "string"
                },
                "address": {
                    "properties": {
                        "street": {
                            "type": "string"
                        },
                        "city": {
                            "type": "string"
                        },
                        "province": {
                            "type": "string"
                        },
                        "postal_code": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "ApiResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32",
                    "example": 400
                },
                "type": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            }
        }
    }
}
